<mat-card>
  <h1> Create Account </h1>
  <form  #createAccountForm="ngForm" class="create-account-form">
    <mat-form-field class="createaccount-full-width">
      <input #username="ngModel" matInput id="username" name="username" [(ngModel)]="userName" placeholder="Username">
    </mat-form-field>
    <mat-form-field class="createaccount-full-width">
      <input #password="ngModel" matInput type="password" id="password" name="password" [(ngModel)]="newPassword" placeholder= "Password">
    </mat-form-field>
    <mat-form-field class="createaccount-full-width">
      <input #confirmedPassword="ngModel" matInput type="password" id="confirmPassword" name="confirmedPassword" [(ngModel)]="confirmedNewPassword" placeholder="Confirm Password">
    </mat-form-field>
    <div [hidden]="matchingPasswords() || confirmedPassword.pristine" class="alert alert-danger">
      <p class="errorMessage">Passwords Do Not Match</p>
    </div>
    <button [disabled]="!validSubmission()" mat-button color="primary" onclick="createAccount(username.value,password.value)" routerLink="/home">Create Account</button>
    <button mat-button color="accent" routerLink="/login">Cancel</button>
  </form>
</mat-card>
