<h1>Recipes</h1>
<table class="table" id="selectRecipe">
  <tr>
    <th>Recipe Name</th>
    <th>Description</th>
  </tr>
  <tr *ngFor="let recipe of recipes" (click)="recipeSelect(recipe)">
    <td>
      {{recipe.name}}
    </td>
    <td>
      {{recipe.description}}
    </td>
  </tr>
</table>


<mat-card *ngIf="selectedRecipe">
  <h2>{{selectedRecipe.name}} details</h2>
  <p>Description: {{selectedRecipe.description}}</p>
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="selectedRecipe.ingredients">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let ingredient"> {{ingredient.food.name}} </mat-cell>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
        <mat-cell *matCellDef="let ingredient"> {{ingredient.quantity}} </mat-cell>
      </ng-container>

      <!-- Units Column -->
      <ng-container matColumnDef="unit">
        <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
        <mat-cell *matCellDef="let ingredient"> {{ingredient.unit.name}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

  <table>
    <tr>
      <th>#</th>
      <th>Step</th>
    </tr>
    <tr *ngFor="let step of selectedRecipe.steps; let i=index">
      <td>
        {{i+1}}
      </td>
      <td>
        {{step.step}}
      </td>
    </tr>
  </table>
</mat-card>

<button mat-raised-button color="accent"  routerLink="/addrecipe">Add Recipe</button>
