<h1>Recipes</h1>

<mat-card>
  <p>Recipes </p>
  <mat-select placeholder="Recipes" [(ngModel)]="viewing" (change)="updateRecipeSelection()" name="viewingSelector" required>
    <mat-option value="myRecipes">My Recipes</mat-option>
    <mat-option value="publicRecipes">Public Recipes</mat-option>
    <mat-option value="friendsRecipes">Friends Recipes</mat-option>
  </mat-select>
  <mat-table #table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let recipe"> {{ recipe.name }}</mat-cell>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description</mat-header-cell>
      <mat-cell *matCellDef="let recipe"> {{ recipe.description }}</mat-cell>
    </ng-container>

    <!-- User Column -->
    <ng-container matColumnDef="user">
      <mat-header-cell *matHeaderCellDef> User</mat-header-cell>
      <mat-cell *matCellDef="let recipe"> {{ recipe.user.username }}</mat-cell>
    </ng-container>

    <!-- Cuisine Column -->
    <ng-container matColumnDef="cuisine">
      <mat-header-cell *matHeaderCellDef> Cuisine</mat-header-cell>
      <mat-cell *matCellDef="let recipe"> {{ recipe.cuisine.name }}</mat-cell>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let i=index; let recipe">
        <button mat-icon-button color="accent" (click)="removeRecipe(recipe)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Select Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let i=index; let recipe">
        <button type="button" mat-icon-button color="accent" (click)="selectForUse(recipe)">
          Select
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedRecipeColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedRecipeColumns;" (click)="recipeSelect(row)"></mat-row>
  </mat-table>
</mat-card>


<mat-card *ngIf="selectedRecipe">
  <h2>{{ selectedRecipe.name }} details</h2>
  <p>Description: {{ selectedRecipe.description }}</p>
  <p>Prep Time: {{ prepTime.hours() === 0 ? '' : prepTime.humanize() }} {{prepTime.minutes() === 0 ? '' :
    (prepTime.hours() === 0 ? '' : 'and ') + prepTime.clone().subtract(prepTime.hours(), 'h').humanize()}}</p>
  <p>Cook Time: {{ cookTime.hours() === 0 ? '' : cookTime.humanize() }} {{cookTime.minutes() === 0 ? '' :
    (cookTime.hours() === 0 ? '' : 'and ') + cookTime.clone().subtract(cookTime.hours(), 'h').humanize()}}</p>
  <app-ingredients-viewer [(ingredients)]="selectedRecipe.ingredients" [canEdit]="false"></app-ingredients-viewer>
  <app-steps-viewer [steps]="selectedRecipe.steps"></app-steps-viewer>
  <button *ngIf="(!selector) && (viewing === 'myRecipes')" mat-raised-button color="accent" routerLink="/addrecipe/{{selectedRecipe.id}}">Edit Recipe</button>
</mat-card>

<button *ngIf="!selector" mat-raised-button color="accent" routerLink="/addrecipe">Add Recipe</button>


