<mat-card>
  <h1> Add Recipe </h1>
  <form class="recipe-form" (ngSubmit)="submitRecipe()" #recipeForm="ngForm">
    <mat-checkbox [(ngModel)]="recipe.isPublic" name="isPublic">Public</mat-checkbox>
    <mat-form-field class="recipe-full-width">
      <input matInput placeholder="Name" [(ngModel)]="recipe.name" name="name" required>
    </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Cuisine" [compareWith]="compareCuisineFn" [(ngModel)]="recipe.cuisine"
                    name="cuisine" required>
          <mat-option *ngFor="let cuisine of cuisines" [value]="cuisine">{{ cuisine.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    <mat-form-field class="recipe-full-width">
      <textarea matInput placeholder="Description" rows="4" cols="50"
                [(ngModel)]="recipe.description" name="description"></textarea>
    </mat-form-field>
    <mat-form-field class="recipe-full-width">
      <input matInput placeholder="Prep Time" [(ngModel)]="recipe.prepTime" name="prepTime">
    </mat-form-field>
    <mat-form-field class="recipe-full-width">
      <input matInput placeholder="Cook Time" [(ngModel)]="recipe.cookTime" name="cookTime">
    </mat-form-field>

    <app-ingredients-viewer [(ingredients)]="recipe.ingredients" [canEdit]="true"></app-ingredients-viewer>

    <form class="ingredient-form" (ngSubmit)="addIngredient()" #ingredientForm="ngForm">
      <div>
        <mat-form-field>
          <input matInput placeholder="Ingredient" [(ngModel)]="potentialIngredient" name="ingredient" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Quantity" [(ngModel)]="newIngredient.quantity" name="quantity" required>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Units" [(ngModel)]="newIngredient.unit" name="unit" required>
            <mat-option *ngFor="let unit of units" [value]="unit">{{ unit.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <button type="submit" [disabled]="ingredientForm.invalid || !checkValidUnits()"
                mat-raised-button color="accent">Add Ingredient</button>
        <div>
          <button mat-button type="button" color="accent" (click)="searchIngredient()">Search</button>
          <mat-table #table [dataSource]="searchedFoodDataSource">
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
              <mat-cell *matCellDef="let food"> {{ food.name }}</mat-cell>
            </ng-container>
            <!-- Select Column -->
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let i=index; let food">
                <button type="button" mat-button color="accent" (click)="selectForUse(food)">
                  Select
                </button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedSearchFoodsColumn"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedSearchFoodsColumn;"></mat-row>
          </mat-table>
        </div>
      </div>
    </form>

    <app-steps-viewer [(steps)]="recipe.steps" [canEdit]="true"></app-steps-viewer>

    <form class="step-form" (ngSubmit)="addStep()" #stepForm="ngForm">
      <div>
        <mat-form-field>
          <textarea matInput placeholder="Step" rows="4" cols="50"
                    [(ngModel)]="newStep.step" name="step"></textarea>
        </mat-form-field>
        <button type="submit" mat-raised-button color="accent">Add Step</button>
      </div>
    </form>

    <button type="button" mat-raised-button color="accent" (click)="goBack()">Cancel</button>
    <button [disabled]="recipeForm.invalid || recipe.cuisine.name === ''" type="submit"
            mat-raised-button color="primary">Submit</button>
  </form>
</mat-card>
