<mat-card>
  <h1> Create Account </h1>
  <form  #createAccountForm="ngForm" class="create-account-form">
    <mat-form-field class="createaccount-full-width">
      <input #username="ngModel" matInput id="username" name="username" [(ngModel)]="userName" placeholder="Username"
             required>
    </mat-form-field>
    <mat-form-field class="createaccount-full-width">
      <input #password="ngModel" matInput type="password" id="password" name="password" [(ngModel)]="newPassword"
             placeholder="Password" required>
    </mat-form-field>
    <mat-form-field class="createaccount-full-width">
      <input #confirmedPassword="ngModel" matInput type="password" id="confirmPassword" name="confirmedPassword"
             [(ngModel)]="confirmedNewPassword" placeholder="Confirm Password" appValidateEqual="password" required>
    </mat-form-field>
    <mat-error *ngIf="confirmedPassword.errors?.validateEqual">
      Passwords must match
    </mat-error>
    <button [disabled]="createAccountForm.invalid" mat-button color="primary"
            (click)="createAccount(username.value, password.value)" routerLink="/login">Create Account</button>
    <button mat-button color="accent" routerLink="/login">Cancel</button>
  </form>
</mat-card>
