<table *ngIf="steps.length > 0" class="table">
  <tr>
    <th>#</th>
    <th>Step</th>
  </tr>
  <tr *ngFor="let step of steps; let i=index">
    <td>
      {{i+1}}
    </td>
    <td *ngIf="!canEdit">
      {{step.step}}
    </td>
    <td *ngIf="canEdit">
      <textarea matInput placeholder="Step" rows="2" cols="50"
                [(ngModel)]="step.step" name="step"></textarea>
    </td>
    <td *ngIf="canEdit">
      <button type="button" mat-icon-button color="accent" (click)="removeStep(i)">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </td>
  </tr>
</table>
