<h1>Pantry Viewer</h1>

<mat-card>
  <p>Pantry </p>
  <mat-table #table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let pantryItem"> {{ pantryItem.food.name }}</mat-cell>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef> Quantity</mat-header-cell>

      <mat-cell *matCellDef="let pantryItem"> <input [(ngModel)]="pantryItem.quantity" (change)="updatePantry()"></mat-cell>

    </ng-container>

    <!-- Unit Column -->
    <ng-container matColumnDef="units">
      <mat-header-cell *matHeaderCellDef> Units</mat-header-cell>
      <mat-cell *matCellDef="let pantryItem">
        <mat-select placeholder="Units" [compareWith]="compareUnitFn" (change)="updatePantry()" [(ngModel)]="pantryItem.unit" name="unit" required>
          <mat-option *ngFor="let unit of units" [value]="unit">{{ unit.name }}</mat-option>
        </mat-select>
      </mat-cell>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef><mat-icon aria-label="Delete">delete</mat-icon></mat-header-cell>
      <mat-cell *matCellDef="let i=index; let pantryItem">
        <button type="button" mat-icon-button color="accent" (click)="removePantryItem(pantryItem)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedPantryColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedPantryColumns;"></mat-row>
  </mat-table>

</mat-card>

<mat-card>
  <p>Add Item</p>
  <input matInput placeholder="Ingredient" [(ngModel)]="ingredientName" name="Ingredient" required>
  <button type="button" mat-icon-button color="accent" (click)="searchIngredient()">Search</button>
  <mat-table #table [dataSource]="searchedFoodDataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let food"> {{ food.name }}</mat-cell>
    </ng-container>
    <!-- Select Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let i=index; let food">
        <button type="button" mat-icon-button color="accent" (click)="selectForUse(food)">
          Select
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedSearchFoodsColumn"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedSearchFoodsColumn;"></mat-row>
  </mat-table>
</mat-card>
