<h1> Add Recipe </h1>

<div>Recipe Name:</div>
<mat-form-field>
<input matInput name="name" placeholder="name">
</mat-form-field>
<div>Description:</div>
<div>
  <mat-form-field>
    <textarea matInput name="description" placeholder= "description" rows="4" cols="50"></textarea>
  </mat-form-field>
</div>
<table>
  <tr>
    <th>Ingredient Name</th>
    <th>Quantity</th>
    <th>Units</th>
  </tr>
  <tr *ngFor="let ingredient of ingredients">
    <td>
      {{ingredient.name}}
    </td>
    <td>
      {{ingredient.quantity}}
    </td>
    <td>
      {{ingredient.unit}}
    </td>
  </tr>
</table>

<div>
<mat-form-field>
  <input #newIngredient matInput name="ingredient" placeholder="ingredient"
         (keyup.enter)="addIngredient(newIngredient.value, newIngredientQuantity.value,
         newIngredientUnits.value); newIngredient.value=''; newIngredientQuantity.value='';newIngredientUnits.value='' ">
</mat-form-field>
<mat-form-field>
  <input #newIngredientQuantity matInput name="quantity" placeholder="quantity"
         (keyup.enter)="addIngredient(newIngredient.value, newIngredientQuantity.value,
          newIngredientUnits.value); newIngredient.value=''; newIngredientQuantity.value='';newIngredientUnits.value='' ">
</mat-form-field>
<mat-form-field>
  <input #newIngredientUnits matInput name="units" placeholder="units"
         (keyup.enter)="addIngredient(newIngredient.value, newIngredientQuantity.value,
         newIngredientUnits.value); newIngredient.value=''; newIngredientQuantity.value='';newIngredientUnits.value='' ">
</mat-form-field>


<button mat-raised-button color="accent" (click)="addIngredient(newIngredient.value, newIngredientQuantity.value,
         newIngredientUnits.value); newIngredient.value=''; newIngredientQuantity.value='';newIngredientUnits.value='' ">
  Add Ingredient</button>
</div> <br>

<button mat-raised-button color="accent" routerLink="/recipes">Cancel</button>
<button mat-raised-button color="primary" routerLink="/recipes">Submit</button>






