<div>
  <button mat-button color="secondary" type="button"  mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">Previous</button>
  <button mat-button color="primary" type="button" mwlCalendarToday [(viewDate)]="viewDate">Today</button>
  <button mat-button color="secondary" type="button" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">Next</button>
</div>

<div>
  <button mat-button color="secondary" type="button" (click)="view = 'month'">Month</button>
  <button mat-button color="secondary" type="button" (click)="view = 'week'">Week</button>
  <button mat-button color="secondary" type="button" (click)="view = 'day'">Day</button>
</div>
<h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
<br>
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="eventClicked($event.event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="eventClicked($event.event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="eventClicked($event.event)">
  </mwl-calendar-day-view>
</div>
<button mat-button color="primary" type="button" routerLink="/scheduler">Scheduler</button>

